<div class="navbar-lewagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.jpg", height: 50 %>
  <% end %>
  <h2 class="navbar-font"> French Coworking </h2>

</div>
