<div class="banner">
  <div class="banner-content">
    <h1>The French Coworking Space </h1>
    <p>Subscribe to our Waiting List</p>
    <a class="btn btn-primary btn-lg", href="/requests/new">Subscribe</a>
  </div>
</div>
