<p>Dear <%= @request.client_first_name %> <%=@request.client_last_name%> </p>

<p>
  Thanks for subscribing to our coworking waiting list.
  You are currently on place
<% @list = Request.accepted.pluck(:id) %>
<%counter = 1 %>
<%= counter += @list.index(@request.id).to_i %>

in our waiting list. If you still want to be on our list, please click on the link below to reconfirm your subscription:
  <%= link_to "Re-confirm my subscription", confirm_three_months_request_url(@request)%>
</p>

<p> Thank you and see you soon </p>
<p> Sincerly, </p>
<p> Yours French Co-working Team </p>
