
.card {
background-size: cover;
background-position:center;
border:5px solid #3D9DDD;
text-align: left;
position:relative;
padding: 30px 30px;
margin:30px 30px;
}

.card h1 {
color: rgb(68, 68, 68);
text-align: center;
}
